 <div class="container">

  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header">Services
        <small>What We Do</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a>
        </li>
        <li class="active">Services</li>
      </ol>
    </div>

  </div>
  <!-- /.row -->

  <div class="row">

    <div class="col-lg-12">
      <!-- <img class="img-responsive" src="http://placehold.it/1200x300"> -->
      <%= image_tag "wt.jpg" %>
    </div>

  </div>
  <!-- /.row -->

  <!-- Service Paragraphs -->

  <div class="row">

    <div class="col-md-7">
      <h2 class="page-header">What We Do</h2>
      <p>ALTA Waterproofing provides building envelope services to general contractors, building owners, property management companies and government agencies. No project is too large or too small. Our goal is grow and maintain strong business relationships with our clients by providing peak performance at a fair price.</p>
    </div>

    <div class="col-md-5">
      <h2 class="page-header">Certified Installers</h2>
      <p>Alta’s workmanship meets or exceeds industry standards while satisfying your budget and schedule. We team with the leading industry manufacturers and participate in their certified installers program.</p>
      <!-- <a class="btn btn-primary" href="#">Click Me!</a> -->
    </div>

  </div>
  <!-- /.row -->

 <%= render partial: "shared/About/tabbed_services" %>
<!-- /.row -->

<!-- Service Images -->

<!-- <div class="row">

  <div class="col-lg-12">
    <h2 class="page-header">Service Images</h2>
  </div>

  <div class="col-sm-4">
    <img class="img-responsive" src="http://placehold.it/750x450">
    <h3>Service One</h3>
    <p>Service one description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
    <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
  </div>

  <div class="col-sm-4">
    <img class="img-responsive" src="http://placehold.it/750x450">
    <h3>Service Two</h3>
    <p>Service two description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
    <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
  </div>

  <div class="col-sm-4">
    <img class="img-responsive" src="http://placehold.it/750x450">
    <h3>Service Three</h3>
    <p>Service three description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
    <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
  </div>

</div> -->
<!-- /.row -->

</div>
    <!-- /.container -->