<div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Our Service Area
                    <small>Explain Your Work</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li class="active">Single Portfolio Item</li>
                </ol>
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
         <!--        <img class="img-responsive" src="http://placehold.it/750x500"> -->
         <%= image_tag "Service-Area2.png" %>
            </div>

            <div class="col-md-6" id="service-area2-description">
                <h3>Our Service Area</h3>
                <p>Alta Waterproofing serves The District of Columbia and five states in the the Mid-Atlantic region. Our office headquarters is located in Columbia, Maryland.</p>
                <h3>We Serve:</h3>
                <ul>
                    <li>Delaware</li>
                    <li>The District of Columbia</li>
                    <li>Maryland</li>
                    <li>New Jersey</li>
                    <li>West Virginia</li>
                    <li>Virginia</li>
                </ul>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-customer" src="http://placehold.it/500x300">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-customer" src="http://placehold.it/500x300">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-customer" src="http://placehold.it/500x300">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive img-customer" src="http://placehold.it/500x300">
                </a>
            </div>

        </div>

    </div>
