 <div class="container">

  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header">Services
        <small>What We Do</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a>
        </li>
        <li class="active">Services</li>
      </ol>
    </div>

  </div>
  <!-- /.row -->

  <div class="row">

    <div class="col-lg-12">
      <img class="img-responsive" src="http://placehold.it/1200x300">
    </div>

  </div>
  <!-- /.row -->

  <!-- Service Paragraphs -->

  <div class="row">

    <div class="col-md-8">
      <h2 class="page-header">What We Do</h2>
      <p>ALTA Waterproofing provides building envelope services to general contractors, building owners, property management companies and government agencies. No project is too large or too small. Our goal is grow and maintain strong business relationships with our clients by providing peak performance at a fair price.</p>
    </div>

    <div class="col-md-4">
      <h2 class="page-header">Certfified Installers</h2>
      <p>Alta’s workmanship meets or exceeds industry standards while satisfying your budget and schedule. We team with the leading industry manufacturers and participate in their certified installers program.</p>
      <!-- <a class="btn btn-primary" href="#">Click Me!</a> -->
    </div>

  </div>
  <!-- /.row -->

  <!-- Service Tabs -->

  <div class="row">

    <div class="col-lg-12">
      <h2 class="page-header">Our Services</h2>
      <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#service-one" data-toggle="tab">Waterproofing</a>
        </li>
        <li><a href="#service-two" data-toggle="tab">Air Barriers</a>
        </li>
        <li><a href="#service-three" data-toggle="tab">Deck Coatings</a>
        </li>
        <li><a href="#service-four" data-toggle="tab">Joint Sealants</a>
        </li>
        <li><a href="#service-five" data-toggle="tab">Expansion Joints</a>
        </li>
        <li><a href="#service-five" data-toggle="tab">Concrete Repairs</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="service-one">
          <!--       <i class="fa fa-gear pull-left fa-4x"></i> -->
          <div class="row tabs-description">

            <div class="col-lg-5">
              <%= image_tag "siding.jpg", class: "img-responsive img-rounded tabs"%>
            </div>
            <div class="col-lg-7 info">
              <p>We offer a variety of commercial waterproofing services.</p>
              <ul>
                <li><b>Sheet-Applied</b> - Our sheet-applied waterproofing membranes offer supreme waterproofing protection for a variety of applications.
                </li>
                <li>
                  <b>Hot-Applied</b> - Our hot-applied rubberized asphalt waterproofing membrane provides a  combination of superb toughness and low-temperature flexibility. Its balanced mixture effectively prevents degradation of the rubber contents via overheating, and it offers extremely low absorbtion and vapor permeability.
                </li>
                <li>
                  <b>Cold-Applied</b> - Our cold-applied single-component waterproofing compound does has a low VOC content, low odor and it does not freeze or crack in extreme cold nor degrade at high temperatures.
                </li>
                <li>
                  <b>Blind-Side</b> - We provide blind-side waterproofing solutions at a variety of high-density job-sites where access to the positive side is impossible. Our blindside applications are designed to eliminate moisture migration into the structure, and their high level of maintainability make them an effective barrier against toxic contaminants like radon and methane that may enter a structure through cracks.
                </li>
                <li>
                  <b>Cementitious</b> - We provide a variety of cementitious waterproofing services. Our cementitious applications are highly durable water barriers that protect buildings from dampeness and moisture damage.
                </li>
                <li>
                  <b>Bentonite</b> - Bentonite membranes are highly expandible and flexible, and they become virtually impermeable to water and most chemicals.
                </li>
                <li>
                  <b>Vegetative</b> - We apply liquid membranes to create a durable monolithic waterproofing component within a green roof system that are able to withstand water indefinitely and can be sprayed to any thickness in one coat.
                </li>
              </ul>
            </div>

          </div>
        </div>

        <div class="tab-pane fade" id="service-two">
          <div class="row tabs-description">
            <div class="col-lg-5">
             <%= image_tag "siding.jpg", class: "img-responsive img-rounded tabs"%>
           </div>

           <div class="col-lg-7 info">
            <p>We install both <b>Sheet-Applied</b> and <b>Spray-Applied</b> air barriers. Our air barrier systems reduce building enclosure moisture problems, improve indoor air quality by acting as an impediment to pollutants, insects, water vapors and more.
            </p>
          </div>

        </div>
      </div>

      <div class="tab-pane fade" id="service-three">

       <div class="row tabs-description">

        <div class="col-lg-5">
         <%= image_tag "js.jpg", class: "img-responsive img-rounded tabs"%>
       </div>

       <div class="col-lg-7 info">
        <p>We offer <b>vehicular</b>, <b>pedestrian</b>, <b>balcony</b>, <b>mechanical-room</b> deck-coating services.</p>
      </div>

    </div>
  </div>

  <div class="tab-pane fade" id="service-four">
    <div class="row tabs-description">
      <div class="col-lg-5">
       <%= image_tag "js.jpg", class: "img-responsive img-rounded tabs"%>
     </div>

     <div class="col-lg-7 info">

       <p>
        We provide facade, parking-deck and site joint-sealants.
      </p>
    </div>

  </div>
</div>



<div class="tab-pane fade" id="service-five">
  <i class="fa fa-flag pull-left fa-4x"></i>
  <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>
  <p>Vestibulum laoreet molestie urna ac vehicula. Phasellus laoreet semper ipsum ac gravida. Sed in varius tortor. Nullam blandit in neque quis aliquet. Fusce volutpat pellentesque sem non convallis. Suspendisse sit amet magna pulvinar, gravida mauris eu, tincidunt massa. Nam lectus mi, viverra non quam nec, mollis malesuada dolor. Vivamus hendrerit nunc interdum turpis egestas, a lobortis odio consequat. Fusce posuere purus quis ligula faucibus lacinia. Curabitur sit amet congue dolor. Duis dapibus hendrerit nunc et gravida. Phasellus mollis, lectus quis ornare aliquam, arcu orci posuere lectus, vehicula bibendum sem ante quis lacus.</p>
</div>
</div>
</div>

</div>
<!-- /.row -->

<!-- Service Images -->

<!-- <div class="row">

  <div class="col-lg-12">
    <h2 class="page-header">Service Images</h2>
  </div>

  <div class="col-sm-4">
    <img class="img-responsive" src="http://placehold.it/750x450">
    <h3>Service One</h3>
    <p>Service one description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
    <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
  </div>

  <div class="col-sm-4">
    <img class="img-responsive" src="http://placehold.it/750x450">
    <h3>Service Two</h3>
    <p>Service two description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
    <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
  </div>

  <div class="col-sm-4">
    <img class="img-responsive" src="http://placehold.it/750x450">
    <h3>Service Three</h3>
    <p>Service three description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
    <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
  </div>

</div> -->
<!-- /.row -->

</div>
    <!-- /.container -->