/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *





  */


@import url(http://fonts.googleapis.com/css?family=Ubuntu);
/* line 5, /Users/rskelley/Desktop/alta_prod/app/assets/stylesheets/home.css.scss */
body {
  margin-top: 125px !important;
  font-family: 'Ubuntu', sans-serif !important;
}

/* line 10, /Users/rskelley/Desktop/alta_prod/app/assets/stylesheets/home.css.scss */
#map-container .embed-responsive-item {
  width: 89%;
  height: 89%;
}

/* line 15, /Users/rskelley/Desktop/alta_prod/app/assets/stylesheets/home.css.scss */
#slider-bs .backstretch {
  border-radius: 10px;
}

/* line 19, /Users/rskelley/Desktop/alta_prod/app/assets/stylesheets/home.css.scss */
#polaroid-slide {
  padding: 10px;
  border: 1px solid #eceef2;
  border-radius: 10px;
}

/* line 26, /Users/rskelley/Desktop/alta_prod/app/assets/stylesheets/home.css.scss */
#two, #three {
  display: none;
}

/* line 30, /Users/rskelley/Desktop/alta_prod/app/assets/stylesheets/home.css.scss */
#head-two, #head-three {
  display: none;
}

/* line 34, /Users/rskelley/Desktop/alta_prod/app/assets/stylesheets/home.css.scss */
#frontpage-welcome-text {
  text-align: justify;
}

/* line 38, /Users/rskelley/Desktop/alta_prod/app/assets/stylesheets/home.css.scss */
#frontpage-picture-large .polaroid {
  margin-top: 10%;
  border: 1px solid #eceef2;
  border-radius: 10px;
  padding: 10px;
}

/* line 45, /Users/rskelley/Desktop/alta_prod/app/assets/stylesheets/home.css.scss */
#frontpage-picture-large .img-responsive.img-rounded {
  margin-top: 0%;
}

/* line 49, /Users/rskelley/Desktop/alta_prod/app/assets/stylesheets/home.css.scss */
#welcome-button-wrapper {
  text-align: center;
}

/* line 53, /Users/rskelley/Desktop/alta_prod/app/assets/stylesheets/home.css.scss */
#welcome-button {
  color: #2aabd2;
  background-color: white;
  display: inline-block;
  margin-top: 2%;
}

/* line 60, /Users/rskelley/Desktop/alta_prod/app/assets/stylesheets/home.css.scss */
#welcome-button:hover {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #2aabd2;
}

/* line 66, /Users/rskelley/Desktop/alta_prod/app/assets/stylesheets/home.css.scss */
#call-now-well {
  margin-top: 2%;
  margin-bottom: -4%;
  font-size: 24px;
}

/* line 73, /Users/rskelley/Desktop/alta_prod/app/assets/stylesheets/home.css.scss */
hr.invisible-rule {
  margin-top: 5%;
  margin-bottom: 5%;
  visibility: hidden;
}

/* line 79, /Users/rskelley/Desktop/alta_prod/app/assets/stylesheets/home.css.scss */
.org-logo {
  max-width: 150px;
  max-height: 100px;
  margin: 0 auto;
}

/* line 85, /Users/rskelley/Desktop/alta_prod/app/assets/stylesheets/home.css.scss */
footer {
  padding: 30px 0 !important;
}

/* line 89, /Users/rskelley/Desktop/alta_prod/app/assets/stylesheets/home.css.scss */
#slider-bs {
  min-height: 400px;
  max-height: 1000px;
  min-width: 400px;
  max-width: 1000px;
}

/* line 96, /Users/rskelley/Desktop/alta_prod/app/assets/stylesheets/home.css.scss */
.tab-text p {
  padding: 15px;
}

/* line 100, /Users/rskelley/Desktop/alta_prod/app/assets/stylesheets/home.css.scss */
.polaroid-pic {
  border: 1px solid #eceef2;
  border-radius: 10px;
  padding: 10px;
}

/* line 106, /Users/rskelley/Desktop/alta_prod/app/assets/stylesheets/home.css.scss */
.page.container .container {
  margin-top: 3%;
}
@media (min-width: 979px) and (max-width: 1199px){
  .alert.alert-info.col-sm-offset-3{
    margin-left: 15%;
  }
  .alert.alert-info.col-sm-6{
    width: 75%;
  }

  .about-me2{
    min-width: 106% !important;
  }
}

@media (min-width: 768px) and (max-width: 978px){
  .alert.alert-info.col-sm-offset-3{
    margin-left: 15%;
  }
  .alert.alert-info.col-sm-6{
    width: 75%;
  }
}

.job-title-sm{
  color: #696969;
}

#service-area2-description{
  margin-top: 10%;
  padding-left: 0px;
}

.img-rounded.tabs{
  max-width: 100%;
}

.row.tabs-description{
  margin-top: 3%;
}

.row.tabs-description .info{
  padding-right: 3%;
}

#myTab li.active{
  font-size:24px;
}

.about-me2{
  min-width: 110%;
}

#wt-banner{
  max-width: 100%;
}

img.about-me{
  max-width: 40%;
}

.alert-info hr{
  visibility: hidden;
}

.popover.fade.bottom.in{
  max-width: 250%;
}

.popover.fade.bottom.in .arrow{
  top: -11px !important;
}

#bill-header{
  margin-top: 1%;
}

#gregg-jensen .alert-info, #bill-harton .alert-info, #ana-butts .alert-info{
  /*background-color: rgb(91, 192, 222);*/
  background-color: white;
  color: black;
}

#modal-close{
  position: absolute;
  top: 1%;
  right: 1%;
  z-index: 51;
}

.col-sm-offset-3 p.about-p{
  margin-top: 2%;
}

#modal-close kbd{
  background-color: rgb(69, 130, 236);
}

#modal-close kbd:hover{
  background-color:rgb(24, 99, 230);
}
@media (min-width: 1200px) {
  img#nav-logo{
    max-height: 350px;
    max-width: 350px;
    padding-bottom:0%;
    margin-top: -7%;
    margin-left:-10%;
  }

  ul.nav.navbar-nav.navbar-right{
    margin-right: 3% !important;
  }

  ul.nav.navbar-nav li a{
    margin-bottom: 0%;
  }
}

@media (min-width: 979px) and (max-width: 1199px) {
  img#nav-logo{
    max-height: 135px;
    padding-bottom:0%;
    margin-top: -7%;
    margin-left:-5%;
  }
  .collapse.navbar-collapse#bs-example-navbar-collapse-1{
    margin-top: 3%; /*fixed setting*/
  }

  ul.nav.navbar-nav li a{
    margin-bottom: 0%;
  }
}

@media (min-width: 769px) and (max-width: 978px) {
  img#nav-logo{
    max-height: 100px;
    padding-bottom:2%;
    margin-top: -7%;
    margin-left:5%;
  }
  .collapse.navbar-collapse#bs-example-navbar-collapse-1{
    margin-top: 0%; /*fixed setting*/
  }

  ul.nav.navbar-nav li a{
    margin-bottom: 0%;
  }
}

@media (max-width: 768px) {
  img#nav-logo{
    max-height: 100px;
    padding-bottom: 15%;
    margin-top: -5%;
  }
  .navbar-header{
    margin-bottom:1%;
  }
}

.navbar.navbar-inverse.navbar-fixed-top{
  /*position: absolute;*/ /*absolute*/
}

#copyright{
  /*margin-left:20px;*/
  text-align:center;
}
.navbar-collapse{
 /* margin-top: 100px;*/
 /*margin-top: 7%;*/ /*absolute*/
 margin-top: 5%; /*fixed setting*/
}

a.navbar-brand #nav-logo{
  /*absolute*/
/*    max-width: 500px;
margin-left: -30px;*/
/*absolute*/
/*max-width: 300px; */ /*fixed-setting*/

}

#image-top{
  max-width: 400px !important;
}

#footer-services{
  padding-left:0px;
  margin-left: 2%;
}

a.navbar-brand{
  padding:0px;
  margin:0px;
}

ul.navbar-right{
  padding-bottom: 0px !important;
}

.navbar-fixed-top .nav {
  padding: 15px;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -10px !important;
}



.foot-links-item{
  max-width: 100px;
  margin: 0 auto !important;

}

.foot-links-link{
  padding: 2px !important;

}

#footer-services{
  list-style:none;
}

#footer-container{
  /*margin-left: 15%;*/
}

.foot-links-link:hover{
  background: transparent !important;

}

#footer-contact{
  text-align: center;
  padding-left: 10px;
  padding-right: 0px;
}

#email.footer-content{
  text-align:center !important;
  white-space: nowrap;
}

#phone.footer-content, #fax.footer-content{
  white-space: nowrap;
}

.footer-header{
  text-decoration: underline;
}

.footer-content{
  margin-bottom: 1px;
}
/* line 5, /Users/rskelley/Desktop/alta_prod/app/assets/stylesheets/contact.css.scss */
body.modal-open #wrap {
  -webkit-filter: blur(7px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

/* line 13, /Users/rskelley/Desktop/alta_prod/app/assets/stylesheets/contact.css.scss */
.modal-backdrop {
  background: #f7f7f7;
}
