<div id="wrap" class="text-center">
  <!-- Button trigger modal -->
  <br>

  <a href="#myModal" data-toggle="modal">?</a>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="container">
    <div class="row">
      <div class="alert alert-info col-sm-6 col-sm-offset-3 text-justify">
       <a href="http://www.linkedin.com/pub/gregg-jensen/11/466/178">
        <%= image_tag("gregg_jensen2.jpg", :alt => "Gregg Jensen", class: "img-responsive img-rounded about-me") %>
      </a>
      <h2>Gregg Jensen<small class="job-title-sm"> Owner/Member</small></h2>
      <p>Gregg Jensen has been in the waterproofing industry for more than 17 years.  For the past 11 years, he has been co-owner of Atlantic Waterproofing & Restoration. Prior to Atlantic, Gregg was the Sales Manager at Harry S. Peterson Company for 6 years</p>
      <a id="modal-close" data-dismiss="modal" data-target="#myModal">
        <kbd>esc</kbd>
      </a>
      <hr>
      <div class="alert alert-info">
        <p>
          <i class="fa fa-phone"></i>
          <abbr title="Phone">Work Phone</abbr>:
          <a href="tel:410-379-0095">410.379.0095</a>
        </p>

        <p>
          <i class="fa fa-envelope-o"></i>
          <abbr title="Email">Direct Email</abbr>:
          <a href="mailto:Jensen@ALTwp.com">Jensen@ALTAwp.com
          </a>
        </p>
        <p>
          <i class="fa fa-linkedin-square"></i>
          <abbr title="LinkedIn">LinkedIn</abbr>:
          <a href="http://www.linkedin.com/pub/gregg-jensen/11/466/178
">
            www.linkedin.com/pub/gregg-jensen/11/466/178
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
</div>