<span id="wrap" class="text-center" data-toggle="popover"data-content="Click to read more about Gregg Jensen">
  <!-- Button trigger modal -->
  <a href="#myModal" data-toggle="modal">[ More Info ]</a>
</span>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="container">
    <div class="row">
      <div class="alert alert-info col-sm-6 col-sm-offset-3 text-justify">

        <div class="alert alert-info">
          <div class="row">
            <div class="col-xs-5">
             <a href="http://www.linkedin.com/pub/gregg-jensen/11/466/178">
              <%= image_tag("gregg_jensen2.jpg", :alt => "Gregg Jensen", class: "img-responsive img-rounded about-me2") %>
            </a>
          </div>
          <div class="col-xs-7" style="text-align:left;">
            <h2>Gregg Jensen<small class="job-title-sm"> Owner/Member</small></h2>
            <p>
              <i class="fa fa-phone"></i>
              <abbr title="Phone">Work Phone</abbr>:
              <a href="tel:410-379-0095">410.379.0095</a>
            </p>

            <p>
              <i class="fa fa-envelope-o"></i>
              <abbr title="Email">Direct Email</abbr>:
              <a href="mailto:Jensen@ALTwp.com">Jensen@ALTAwp.com
              </a>
            </p>
            <p>
              <i class="fa fa-linkedin-square"></i>
              <abbr title="Email">LinkedIn</abbr>:
              <a href="http://www.linkedin.com/pub/gregg-jensen/11/466/178">
                Profile
              </a>
            </p>
          </div>
        </div>
      </div>
      <p class="about-p">
        Gregg Jensen is the owner of Alta Waterproofing, a regional waterproofing contractor that serves the Mid-Atlantic region. Alta offers a broad range of waterproofing solutions and accepts commercial projects spanning from hospitals, schools and parking garages to state government buildings. In the office, Gregg assumes project management and business development duties.
      </p>

      <p class="about-p">
        Gregg has spent more than <b>two decades</b> working in the waterproofing industry. He established Alta in January 2012, but he has been a co-owner of <a href="http://www.yellowbook.com/profile/atlantic-waterproofing-and-restoration-llc_1542197319.html">Atlantic Waterproofing & Restoration</a> since 2000. Before that, Gregg was the Sales Manager at Harry S. Peterson Company for 6 years from 1994 to 2000. He holds a civil engineering degree from the University of North Carolina at Charlotte, and he is a member of the Air Barrier Association of America, the American Subcontractors Association of Metro Washington, the Associated Builders and Contractors, and the <a href="http://www.swrionline.org/">Sealant Waterproofing and Restoration Institute.</a>
      </p>
      <a id="modal-close" data-dismiss="modal" data-target="#myModal">
        <kbd>esc</kbd>
      </a>
      <hr>



    </div>
  </div>
</div>
</div>

<script>
$(document).ready(function(){

  $('[data-toggle="popover"]').popover({
    trigger: 'hover',
    'placement': 'bottom',
    delay: {show: 100, hide: 200}
  });



})
</script>