<% flash.each do |type, message| %>
<div class="alert <%= bootstrap_class_for(type) %> fade in alert-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>

  <% if @message.errors.any? %>
  <h4><i class="fa fa-exclamation-triangle"></i> Uh-Oh, you made a mistake!</h4>

  <div id="error_explanation">
    The form contains <%= pluralize(@message.errors.count, "error") %>.
    <ul style="list-style:none;">
      <% @message.errors.full_messages.each do |msg| %>
      <li>
        <i class="fa fa-times-circle"></i> <%= msg %>
      </li>
      <% end %>
    </ul>
  </div>

  <% else %>

  <%= message %>

  <% end %>

</div>

<% end %>
