<div class="container text-center">
  <hr />
  <div class="row" id="footer-container">
    <div class="col-lg-12">

      <div class="col-md-3" id="footer-contact">
        <h5 style="text-decoration:underline" class="footer-header">Contact Us</h5>
        <h5>Alta Waterproofing LLC</h5>
        <p class="footer-content">
         9841 Broken Land Parkway<br />
         Suite 215<br />
         Columbia, MD 21046
       </p>
       <p class="footer-content"><i class="fa fa-phone"></i>
        <abbr title="Phone">P</abbr>: 410.379.0095
       </p>
       <p class="footer-content" id="email">
        <i class="fa fa-envelope-o"></i>
        <abbr title="Email">E</abbr>: <a href="mailto:Jensen@ALTwp.com">Jensen@ALTAwp.com</a>
       </p>

     </div>

     <div class="col-md-3">
       <h5 style="text-decoration:underline" class="footer-header">Quick Links</h5>
       <ul class="nav nav-pills nav-stacked">
        <li class="foot-links-item">
          <a href="#" class="foot-links-link">About us</a>
        </li>
        <li class="foot-links-item">
         <a href="#" class="foot-links-link">Services</a>
       </li>
       <li class="foot-links-item">
         <a href="#" class="foot-links-link">FAQ</a>
       </li>
       <li class="foot-links-item">
         <a href="#" class="foot-links-link">Portfolio </a>
       </li>
     </ul>
   </div>




   <div class="col-md-3">
    <h5 class="footer-header">Connect with Us</h5>
    <ul class="list-unstyled list-inline list-social-icons">
      <li class="tooltip-social facebook-link"><a href="#facebook-page" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
      <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/company/alta-waterproofing" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
    </ul>
    <ul class="list-unstyled list-inline list-social-icons">
      <li class="tooltip-social twitter-link"><a href="https://www.google.com/maps/place/9841+Broken+Land+Pkwy+%23215,+Columbia,+MD+21046/@39.1820402,-76.8505347,17z/data=!3m1!4b1!4m2!3m1!1s0x89b7de47fc4040f7:0x3bce4a260bf60c0a?hl=en" data-toggle="tooltip" data-placement="top" title="Google Maps"><i class="fa fa-map-marker fa-2x"></i></a></li>
      <li class="tooltip-social google-plus-link"><a href="https://plus.google.com/105696766079000345889/posts" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
    </ul>
  </div>

</div>
</div>
<hr>
<div class="row">

  <div class="col-lg-12" id="copyright">
    <p>Copyright &copy; <%= Time.now.year %> <%= link_to("Greater Than Web Development","www.gtwd.com") %> All rights reserverd.</p>
  </div>

</div>