<div class="row">

  <div class="col-lg-12">
    <h2 class="page-header">Recent Projects</h2>
  </div>

  <div class="col-md-7">

    <div id="slider-bs">

    </div>

  </div>

  <div class="col-md-5">

    <div id="slider-text">
      <p>Some of Alta's recent projects</p>
    </div>

  </div>

</div>


<script>
$(document).ready(function() {

 $("#slider-bs").backstretch(["assets/block.jpeg","assets/concrete-repairs.jpg","assets/barren-construction.jpg"], {duration: 3000, fade: 750});

});
</script>