<div class="row">

  <div class="col-lg-12">
    <h2 class="page-header">Member Organizations</h2>
  </div>

  <div class="col-xs-3">

    <a href="http://www.airbarrier.org/" target="_blank"><%= image_tag "Abaa.jpg", class: "img-responsive img-rounded org-logo" %>


  </div>

  <div class="col-xs-3">

   <a href="http://www.abc.org/" target="_blank"><%= image_tag "ABC.jpg", class: "img-responsive img-rounded org-logo" %></a>

 </div>

 <div class="col-xs-3">
    <a href="http://www.icri.org/" target="_blank"><%= image_tag "ICRI.png", class: "img-responsive img-rounded org-logo" %></a>

 </div>

 <div class="col-xs-3">
   <a href="http://www.rci-online.org/" target="_blank"><%= image_tag "RCI.jpg", class: "img-responsive img-rounded org-logo" %></a>

 </div>

</div>

<script>
function animationhover(element, animation){
    element = $(element);
    element.hover(
        function() {
            element.addClass('animated ' + animation);
            //wait for animation to finish before removing classes
            window.setTimeout( function(){
                element.removeClass('animated ' + animation);
            }, 2000);

        });
}

$(document).ready(function(){
    $('.org-logo').each(function() {
        animationhover(this, 'bounce');
    });
});

</script>