
<hr>

<div class="row">

  <div class="col-lg-8">

    <div id="slider-bs">

    </div>

  </div>

  <div class="col-lg-4">

    <div id="slider-text">
      <h2>Alta's Projects</h2>
      <p>Some of Alta's recent projects</p>
    </div>

  </div>

</div>

<script>
$(document).ready(function(){

  $("#slider-bs").backstretch(["assets/block.jpeg","assets/concrete-repairs.jpg","assets/barren-construction.jpg"], {duration: 3000, fade: 750});

});
</script>