<div class="row">

  <div class="col-lg-12">
    <h2 class="page-header">Recent Projects</h2>
  </div>

  <div class="col-md-7">

    <div id="slider-bs">

    </div>

  </div>

  <div class="col-md-5">

    <div id="slider-text">
      <p>Alta has completed a variety of projects over the years. The increasing complexity of building and construction has resulted in a wide variety of different materials and interfaces. Alta Waterproofing engineers systems to accommodate most designs and construction details in the key risk area in any building.</p>
      <p>View our <span><a type="button" class="btn btn-default btn-sm" href="main/portfolio-page" role="button">Portfolio</a></span> to view more of our work.</p>
    </div>

  </div>

</div>


<script>
$(document).ready(function() {

 $("#slider-bs").backstretch(["<%= asset_path 'block.jpeg' %>","<%= asset_path 'concrete-repairs.jpg' %>","<%= asset_path 'barren-construction.jpg' %>"], {duration: 3000, fade: 750});

});
</script>