<div class="row">
  <ul id="myTab" class="nav nav-tabs">

   <li><a href="#service-one" data-toggle="tab">About Us</a></li>
   <li><a href="#service-two" data-toggle="tab">Services</a></li>
   <li><a href="#service-three" data-toggle="tab">Project Profiles</a></li>


 </ul>

 <div id="myTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="service-one">
    <div class="tab-text">
    <p> Alta Waterproofing is a commercial waterproofing contractor specializing in the installation of building envelope waterproofing systems.  Our scope of services include new construction, renovations, repairs and maintenance.</p>
  </div>
  </div>
  <div class="tab-pane fade" id="service-two">
     <div class="tab-text">
    <p>Alta Waterproofing provides building envelope services to general contractors, building owners, property management companies and government agencies. No project is too large or too small. Our goal is grow and maintain strong business relationships with our clients by providing peak performance at a fair price.</p>
  </div>
  </div>
  <div class="tab-pane fade" id="service-three">
     <div class="tab-text">
    <p>Alta waterproofing is the new choice for quality waterproofing construction services in the Mid-Atlantic region. Whether you are in the commercial, industrial, institutional, high-rise residential or sport complex markets; ALTA can serve your needs. From new construction, renovation and maintenance services; ALTA has the technical background and expertise to professionally manage your projects.</p>
  </div>
  </div>


</div>
</div>