<div class="row">

  <div class="col-lg-12">
    <h2 class="page-header">Recent Projects</h2>
  </div>

  <div class="col-md-7" id="polaroid-slide">

    <div id="slider-bs">

    </div>

  </div>

  <div class="col-md-5">

   <div id="slider-text">
    <h4 class="overlay-header"></h4>
    <p class="overlay"></p>
    <p>View our <span><a type="button" class="btn btn-default btn-sm" href="main/portfolio-page" role="button">Portfolio</a></span> to view more of our work.</p>
  </div>


</div>

</div>

<script>
$(document).ready(function() {

 $("#slider-bs").backstretch(["<%= asset_path 'block.jpeg' %>","<%= asset_path 'concrete-repairs.jpg' %>","<%= asset_path 'barren-construction.jpg' %>"], {duration: 5000, fade: "slow", lazyload: true});

});

var texts = [
"Cementitious waterproofing is a unique chemical treatment for the waterproofing and protection of concrete. Structures can be waterproofed from the interior side of the wall by the process of osmosis; the crystalline formation migrates throughout the pores and capillary tracts of concrete even against strong hydrostatic pressure. The treatment is highly resistant to most aggressive substances. By preventing the intrusion of chemicals, salt water, sewage and other harmful materials, cementitious waterproofing protects concrete and reinforcing steel from deterioration and oxidation making it a good selection for elevator pits, sewage and water treatment tanks. ",
"Alta has completed a variety of projects over the years. The increasing complexity of building and construction has resulted in a wide variety of different materials and interfaces. Alta Waterproofing engineers systems to accommodate most designs and construction details in the key risk area in any building.",
"Water repellent is a clear, filmless, penetrating product for virtually all above grade, vertical concrete, stucco, block and brick masonry. The treatment does not alter the color or texture of the surface, nor significantly affect the vapor transmission qualities of the substrate. The solution penetrates the substrate and chemically reacts to create a powerful barrier against water penetration. This barrier is resistant to ultraviolet and weather deterioration; however, it is necessary to reapply on a maintenance schedule every five to ten years."
];

var headers = [
"Waterproofing At the National Mall",
"New Spray Applied Air Barriers",
"Alta Applies Water Repellants at Performing Arts Center"
];

$(window).on("backstretch.before", function (e, instance) {
  $(".overlay-header").text( headers[instance.index] );
  $(".overlay").text( texts[instance.index] );
});

</script>
