<div class="row" id="service-area-map">
 <div class="col-lg-5" id="map-side-content">
  <h3>Service Area</h3>
  <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.</p>
</div>

<div class="col-lg-7">
  <div class="embed-responsive embed-responsive-4by3" id="map-container">
    <iframe src="https://mapsengine.google.com/map/embed?mid=zYBXdh6HcX2A.k_aNd0GIoQCM" width="640" height="480" class="embed-responsive-item">
    </iframe>
  </div>
</div>


</div>