    <div class="container home">

      <div class="row" id="frontpage-picture-large">
        <div class="col-md-7" id="frontpage-welcome-text">
          <h1>Alta Waterproofing, LLC</h1>
          <p>Alta is the new choice for quality waterproofing construction services in the Mid-Atlantic region. Whether you are in the commercial, industrial, institutional, high-rise residential or sport complex markets, Alta can serve your needs. From new construction, renovation and maintenance services, Alta has the technical background and expertise to professionally manage your projects.</p>
          <p>
            Alta’s workmanship meets or exceeds industry standards while satisfying your budget and schedule. We team with the leading industry manufacturers and participate in their certified installers program.
          </p>
          <p>
            Alta Waterproofing uses state-of-the-art preventative waterproofing, elastomeric sealants, coatings and repellants to deliver airtight and long-term defense against water’s destructive effects.  We provide fast, professional and effective repair to your property guaranteed.
          <p id="welcome-button-wrapper">
            <a class="btn btn-info btn-lg" href="tel:410-379-0095" id="welcome-button"><i class="fa fa-mobile fa-lg"></i> Contact Our Trained Professionals</a>
          </p>
          </p>
        </div>
        <div class="col-md-5">
          <!-- <img class="img-responsive img-rounded" src="http://placehold.it/900x350"> -->
          <div class="polaroid">
          <%= image_tag "office.JPG", class: "img-responsive img-rounded animated bounce", id:"top-img"%>
        </div>
          <!-- take out img-rounded if you don't want the rounded corners on the image -->
        </div>
      </div>

         <hr class="invisible-rule">

      <%= render partial: "shared/frontpage_affiliates" %>

      <hr class="invisible-rule">

      <div class="row">
        <div class="col-lg-12">
          <div class="well text-center" id="call-now-well">
            Call <a href="tel:410-379-0095">+1-410-379-0095</a> or email <a href="mailto:Jensen@ALTwp.com">Gregg Jensen</a> to get in touch with us.
          </div>
        </div>
      </div>

      <hr class="invisible-rule">


      <%= render partial: "shared/frontpage_slideshow" %>

        <hr class="invisible-rule">

      <%= render partial: "shared/service_area_map.html.erb" %>

    </div>
