<div class="row">

  <div class="col-md-6">
    <img class="img-responsive" src="http://placehold.it/750x450">
  </div>
  <div class="col-md-6">
    <h3>Welcome to Alta Waterproofing LLC</h3>
    <p>ALTA Waterproofing is a commercial waterproofing contractor specializing in the installation of building envelope waterproofing systems.  Our scope of services include both new construction, renovations, repairs and maintenance.  Our service area covers the Mid-Atlantic region of Maryland, Washington, DC, Delaware, Virginia, and West Virginia.</p>
  </div>

</div>