    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Related Projects</h3>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <%= image_tag "concrete-repairs.jpg", class: "img-responsive img-customer", size: "500x300" %>
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <%= image_tag "dc.jpg", class: "img-responsive img-customer", size: "500x300" %>
          </a>
      </div>

      <div class="col-sm-3 col-xs-6">
        <a href="#">
         <%= image_tag "baltimore.JPG", class: "img-responsive img-customer", size: "500x300" %>
     </a>
 </div>

 <div class="col-sm-3 col-xs-6"><a href="#"><%= image_tag "block.jpeg", class: "img-responsive img-customer", size:"500x300" %></a></div>

</div>