<div class="row">

  <div class="col-lg-12" id="copyright">
    <p>Copyright &copy; <%= Time.now.year %> <%= link_to("Greater Than Web Development","www.gtwd.com") %> All rights reserverd.</p>
  </div>

</div>