<div class="container text-center">
  <hr />
  <div class="row" id="footer-container">
    <div class="col-lg-12">

      <div class="col-md-3" id="footer-contact">
        <h5 style="text-decoration:underline" class="footer-header">Contact Us</h5>
        <h5>Alta Waterproofing LLC</h5>
        <p class="footer-content">
         9841 Broken Land Parkway<br />
         Suite 215<br />
         Columbia, MD 21046
       </p>
       <p class="footer-content"><i class="fa fa-phone"></i>
        <abbr title="Phone">P</abbr>: <a href="tel:410-379-0095">410.379.0095</a>
      </p>
      <p class="footer-content" id="email">
        <i class="fa fa-envelope-o"></i>
        <abbr title="Email">E</abbr>: <a href="mailto:Jensen@ALTwp.com">Jensen@ALTAwp.com</a>
      </p>
    </div>

    <div class="col-md-3">
     <h5 style="text-decoration:underline" class="footer-header">Quick Links</h5>
     <ul class="nav nav-pills nav-stacked">
      <li class="foot-links-item">
        <a href="#" class="foot-links-link">About us</a>
      </li>
      <li class="foot-links-item">
       <a href="#" class="foot-links-link">Services</a>
     </li>
     <li class="foot-links-item">
       <a href="#" class="foot-links-link">FAQ</a>
     </li>
     <li class="foot-links-item">
       <a href="#" class="foot-links-link">Portfolio </a>
     </li>
   </ul>
 </div>


 <div class="col-md-3">

  <h5 class="footer-header"><a href="/main/services">Services</a></h5>

  <ul id="footer-services">
    <li>Waterproofing</li>
    <li>Air Barriers</li>
    <li>Deck Coatings</li>
    <li>Joint Sealants</li>
    <li>Expansion Joints</li>
    <li>Concrete Repairs</li>
  </ul>

</div>

 <%= render partial: "shared/foot/footer_social"%>


</div>
</div>
<hr>

<%= render partial: "shared/foot/bottom" %>