<ul class="list-unstyled list-inline list-social-icons">
  <li class="tooltip-social facebook-link"><a href="#facebook-page" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
  <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/company/alta-waterproofing" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
  <li class="tooltip-social twitter-link"><a href="https://www.google.com/maps/place/9841+Broken+Land+Pkwy+%23215,+Columbia,+MD+21046/@39.1820402,-76.8505347,17z/data=!3m1!4b1!4m2!3m1!1s0x89b7de47fc4040f7:0x3bce4a260bf60c0a?hl=en" data-toggle="tooltip" data-placement="top" title="Google Maps"><i class="fa fa-map-marker fa-2x"></i></a></li>
  <li class="tooltip-social google-plus-link">
    <a href="https://plus.google.com/105696766079000345889/posts" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
  </li>
</ul>