.job-title-sm{
  color: #696969;
}

#service-area2-description{
  margin-top: 10%;
  padding-left: 0px;
}

.img-rounded.tabs{
  max-width: 100%;
}

.row.tabs-description{
  margin-top: 3%;
}

.row.tabs-description .info{
padding-right: 3%;
}

#myTab li.active{
  font-size:24px;
}