@media (min-width: 1200px) {
  img#nav-logo{
    max-height: 350px;
    max-width: 350px;
    padding-bottom:0%;
    margin-top: -7%;
    margin-left:-10%;
  }

  ul.nav.navbar-nav.navbar-right{
    margin-right: 3% !important;
  }

  ul.nav.navbar-nav li a{
    margin-bottom: 0%;
  }
}

@media (min-width: 979px) and (max-width: 1199px) {
  img#nav-logo{
    max-height: 135px;
    padding-bottom:0%;
    margin-top: -7%;
    margin-left:-5%;
  }
  .collapse.navbar-collapse#bs-example-navbar-collapse-1{
    margin-top: 3%; /*fixed setting*/
  }

  ul.nav.navbar-nav li a{
    margin-bottom: 0%;
  }
}

@media (min-width: 769px) and (max-width: 978px) {
  img#nav-logo{
    max-height: 100px;
    padding-bottom:2%;
    margin-top: -7%;
    margin-left:5%;
  }
  .collapse.navbar-collapse#bs-example-navbar-collapse-1{
    margin-top: 0%; /*fixed setting*/
  }

  ul.nav.navbar-nav li a{
    margin-bottom: 0%;
  }
}

@media (max-width: 768px) {
  img#nav-logo{
    max-height: 100px;
    padding-bottom: 15%;
    margin-top: -5%;
  }
  .navbar-header{
    margin-bottom:1%;
  }
}

.navbar.navbar-inverse.navbar-fixed-top{
  /*position: absolute;*/ /*absolute*/
}

#copyright{
  /*margin-left:20px;*/
  text-align:center;
}
.navbar-collapse{
 /* margin-top: 100px;*/
 /*margin-top: 7%;*/ /*absolute*/
 margin-top: 5%; /*fixed setting*/
}

a.navbar-brand #nav-logo{
  /*absolute*/
/*    max-width: 500px;
margin-left: -30px;*/
/*absolute*/
/*max-width: 300px; */ /*fixed-setting*/

}

#image-top{
  max-width: 400px !important;
}

#footer-services{
  padding-left:0px;
  margin-left: 2%;
}

a.navbar-brand{
  padding:0px;
  margin:0px;
}

ul.navbar-right{
  padding-bottom: 0px !important;
}

.navbar-fixed-top .nav {
  padding: 15px;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -10px !important;
}



.foot-links-item{
  max-width: 100px;
  margin: 0 auto !important;

}

.foot-links-link{
  padding: 2px !important;

}

#footer-services{
  list-style:none;
}

#footer-container{
  /*margin-left: 15%;*/
}

.foot-links-link:hover{
  background: transparent !important;

}

#footer-contact{
  text-align: center;
  padding-left: 10px;
  padding-right: 0px;
}

#email{
  text-align:center !important;
  /*width: 120%;*/
}

.footer-header{
  text-decoration: underline;
}

.footer-content{
  margin-bottom: 1px;
}